.posted {
	display: flex;
	align-items: center;
}

.posted p {
	font-size: 20px;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: red;
	margin-right: 15px;
}

.like {
	margin-left: 20px;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: yellow;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}