.dialogs {
	display: flex;
}

.dialog_list {
	width: 30%;
	border-right: 1px solid green;
	padding-left: 10px;
}

.active {
	font-size: 25px;
}

.dialog_head {
	text-transform: uppercase;
	font-size: 26px;
	margin-bottom: 0;
	padding-left: 10px;
}

/* ////////////////// */

.messages {
	width: 70%;
}

.form {
	display: flex;
	flex-direction: column;
}

.form input {
	margin: auto;
	width: 80%;
	border: none;
	border-radius: 8px;
	padding: 20px;
	font-size: 20px;
}

.form button {
	background: #efefef;
	border: none;
	padding: 15px 20px;
	font-size: 17px;
	margin: 20px auto;
	border-radius: 5px;
}